/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
/* display flex korle nav er vitor 2 ta jinis 1 line e chole ase */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);

    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;


}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 35px 19px 36px;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner.profile-pic{
     width: 584px;height: 676px;
     margin-bottom: 0px;
}
.banner-greeting{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--Dark-02, #474747);
    margin-bottom: 0px;
}
.banner-title{
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top:5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 585px;
    
}

